body {
    font-family:"UD DigiKyokasho N-R","Hiragino Kaku Gothic ProN","Hiragino Sans","Noto Sans JP", sans-serif;
    background-color: #e8f0d8;
}

#main_container {
    margin-top: 20px;
}

.item-title {
    font-size: 1.5em;
}

.item-text {
    font-size: 1em;
}

.item-subtext {
    font-size: 0.7em;
    color: #667;
}

.btn {
    font-size: 0.9em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
.btn-dark {
    background-color: #114;
    color: #fff;
}

.btn-secondary {
    background-color: #889;
    color: #fff;
}

.trim {
    text-overflow: ellipsis
}