body {
    font-family:"Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans","Noto Sans JP", sans-serif;
}

#main_container {
    margin-top: 20px;
}

.item-title {
    font-size: 1.5em;
}

.item-subtitle {
    font-size: 1.2em;
}

.item-text {
    font-size: 1em;
}

.item-subtext {
    font-size: 0.7em;
}

.btn {
    font-size: 0.9em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.card.sections {
    border-radius: 5px;
    overflow: hidden;
}

.trim {
    text-overflow: ellipsis;
}


#section-content {
    position: relative;
    width: 100%;
    z-index: 2;
    border: 0px;
    background-color: transparent;
    resize: none;
}

#section-content-editor {
    position: relative;
    width: 100%;
    z-index: 4;
    border: 0px;
    background-color: transparent;
    white-space: pre-wrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    color: var(--bs-body-color);
    caret-color: var(--bs-body-color);
}


#section-content-editor::selection,
#section-content-editor *::selection {
    background-color: rgba(128, 128, 192, 0.3) !important;
    color: rgba(128, 128, 192, 0) !important;
    -webkit-text-fill-color: rgba(128, 128, 192, 0.3) !important;
}

#section-content-editor::-moz-selection,
#section-content-editor *::-moz-selection {
    background-color: rgba(128, 128, 192, 0.3) !important;
    color: rgba(128, 128, 192, 0) !important;
}

#highlight {
    position: absolute;
    z-index: 1;
}

#highlight-content {
    white-space: pre-wrap;
    text-wrap: break-word;
}

#edit-section-form {
    position: relative;
    z-index: 2;
    isolation: isolate;
}


#submission {
    width: 100%;
}

#show-buttons-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#alert-saved {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
}

#section-content-show {
    white-space: pre-wrap;
}