body.ud-font,
body.ud-font * {
    font-family: "UD Digi Kyokasho N-R", "UD Digi Kyokasho N", "UD Digi Kyokasho NP-R", "UD Digi Kyokasho NP", "UD Digi Kyokasho NK-R", "UD Digi Kyokasho NK", "UD デジタル 教科書体 N-R", "BIZ UDPGothic", "BIZ UDGothic", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP", sans-serif !important;
}