{% extends "minamo/base.html" %}   

{% block title %}セクション編集{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">ホーム</li>
  <li class="breadcrumb-item">{{ book.title }}</li>
  <li class="breadcrumb-item">{{ chapter.title }}</li>
  <li class="breadcrumb-item active">{{ section.title }}</li>
</ol>
<form method="post">
    {% csrf_token %}
    <textarea name="content" rows="20" cols="100" class="form-control">{{ section.content }}</textarea>
    <button type="submit" class="btn btn-primary" formaction="{% url 'minamo:edit_section' chapter.book.id chapter.id section.id %}">保存</button>
    <button type="submit" class="btn btn-primary" formaction="{% url 'minamo:edit_section_return' chapter.book.id chapter.id section.id 'chapter' %}">保存して戻る</button> 
    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModal">保存せずに戻る</a>
</form>
<p id="section-length">{{ section.content|length }}</p>

<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        変更が保存されていません。このまま戻りますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        <a href="{% url 'minamo:chapter_detail' chapter.book.id chapter.id %}" class="btn btn-danger">保存せずに戻る</a>
      </div>
    </div>
  </div>
</div>

{% endblock %} 

{% block extra_js %}
{{ configuration_json|json_script:"configuration" }}
<script>
$(document).ready(function() {
    const config = JSON.parse(document.getElementById('configuration').textContent);
    $('textarea').css('font-size', config.text_size + 'px');
    $('textarea').css('height', (config.text_size * 1.5 * config.textarea_height + 15) + 'px');
    $('textarea').css('line-height', (config.text_size * 1.5) + 'px');
    $('textarea').css('width', (config.text_size * config.textarea_width + 45) + 'px');
    $('#section-length').text('文字数: ' + $('textarea').val().length);
    $('textarea').on('input', function() {
        $('#section-length').text('文字数: ' + $(this).val().length);
    });
});
</script>
{% endblock %}